main {

  .item {
    width: 50%;
    position: relative;
    margin-bottom: 200px;

    & > h2 {
      font-size: 48px;
      font-weight: 900;
      position: absolute;
      z-index: 20;

      &:before, &:after {
        content: attr(data-text) '';
        position: absolute;
        overflow: hidden;
        left: 0;
      }
      &:before {
        height: 25px;
        top: -16px;
        color: rgba(0, 0, 0, .3);
      }
      &:after {
        height: 18px;
        top: -25px;
        color: rgba(0, 0, 0, .1);
      }
    }

    & > h3 {
      position: absolute;
      font-weight: bold;
      font-style: italic;
      font-size: 24px;
      z-index: 20;
    }

    & > .item_pic {
      height: 400px;
      position: relative;
      z-index: 10;
    }

    & > small {
      position: absolute;
      font-size: 48px;
      font-weight: 900;
      z-index: 20;
    }

    & > .item_block {
      position: absolute;
      background-color: #50E3C2;
      width: 240px;
      height: 200px;
      z-index: 0;
    }

    & > .item_border {
      position: absolute;
      border: 20px solid #50E3C2;
      width: 240px;
      height: 200px;
      z-index: 0;
    }

    & > .item_slash {
      background-image: linear-gradient(-45deg, rgba(0,0,0,0) 25%, #50E3C2 25%, #50E3C2 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, #50E3C2 75%, #50E3C2);
      background-size: 50px 50px;
      position: absolute;
      width: 240px;
      height: 100px;
      z-index: 20;
    }
  }

  .item-1 {

    & > h2 {
      top: -18px;
    }

    & > h3 {
      right: -75px;
      bottom: 15px;
      transform: rotate(-270deg);
    }

    & > small {
      left: 0;
      bottom: -60px;
    }

    & > .item_block {
      display: none;
    }

    & > .item_border {
      top: -49px;
      right: -60px;
    }

    & > .item_slash {
      bottom: -50px;
      left: 60px;
    }
  }

  .item-2 {

    & > h2 {
      bottom: 19px;
      right: 0;
    }

    & > h3 {
      top: 73px;
      left: 100px;
    }

    & > small {
      top: -12px;
      right: 0;
    }

    & > .item_pic {
      display: flex;
      justify-content: center;
      align-items: center;
      & > img {
        width: 50%;
        height: 50%;
      }
    }

    & > .item_block {
      top: 50%;
      right: 50%;
      transform: translateX(75%) translateY(-75%);
    }

    & > .item_border {
      top: 50%;
      right: 50%;
      transform: translateX(100%) translateY(-100%);
    }

    & > .item_slash {
      display: none;
    }

  }

  .item-3 {
    margin-bottom: 0;
    & > h2 {
      top: -50px;
      right: 0;
    }

    & > h3 {
      left: 30px;
      top: 50%;
    }

    & > small {
      bottom: 50%;
      right: 0;
      transform: translateX(100%) translateY(85%);
    }

    & > .item_pic {
      & > img {
        height: 50%;
      }
    }

    & > .item_block {
      top: -48px;
      left: 0;
    }

    & > .item_border {
      bottom: 0;
      right: 0;
      transform: translateX(25%) translateY(-75%);
    }

    & > .item_slash {
      display: none;
    }

  }

  .item-4 {
    margin-bottom: 0;
    & > h2 {
      transform: rotate(-90deg);
      top: 43px;
      left: 142px;
    }

    & > h3 {
      top: -87px;
      right: -10px;
      transform: rotate(-270deg);
    }

    & > small {
      left: 183px;
      bottom: -10px;
    }

    & > .item_pic {
      display: flex;
      justify-content: flex-end;
      & > img {
        width: 50%;
      }
    }

    & > .item_block {
      display: none;
    }

    & > .item_border {
      top: 0;
      right: 50%;
      transform: translateX(75%) translateY(-50%);
    }

    & > .item_slash {
      bottom: 0;
      right: 0;
      transform: translateY(50%);
    }

  }

  .item-5 {
    & > h2 {
      top: 53px;
      left: 0;
    }

    & > h3 {
      right: 0;
      top: 0;
      transform: translateX(102%);
    }

    & > small {
      top: 50%;
      left: 25%;
      transform: translateY(-88%);
    }

    & > .item_pic {
      display: flex;
      justify-content: flex-end;
      & > img {
        width: 50%;
        height: 50%;
        transform: scaleX(-1);
      }
    }

    & > .item_block {
      display: none;
    }

    & > .item_border {
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    & > .item_slash {
      top: 0;
      left: 10%;
      transform: translateY(-46%);
    }

  }

  .item-6 {
    margin-top: 200px;
    margin-bottom: 0;
    & > h2 {
      top: 0;
      right: 0;
      transform: translateY(-100%);
    }

    & > h3 {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(125%);
    }

    & > small {
      top: 50%;
      left: 0;
      transform: translateX(-100%) translateY(-85%);
    }

    & > .item_pic {
      & > img {
      }
    }

    & > .item_block {
      bottom:0;
      left: 0;
      transform: translateX(-25%);
    }

    & > .item_border {
      width: 480px;
      bottom: 0;
      right: 0;
      transform: translateY(25%);
    }

    & > .item_slash {
      display: none;
    }

  }

  .item-7 {
    margin-top: -200px;
    margin-bottom: 0;
    & > h2 {
      top: 63px;
      right: 26%;
      transform: rotate(-270deg);
    }

    & > h3 {
      top: 0;
      left: 0;
      transform: translateY(-100%);
    }

    & > small {
      bottom: -15px;
      right: 121px;
    }

    & > .item_pic {
      & > img {
        width: 50%;
      }
    }

    & > .item_block {
      bottom: 0;
      right: 0;
      transform: translateX(-50%);
    }

    & > .item_border {
      top: 0;
      left: 50%;
      transform: translateX(-75%) translateY(-25%);
    }

    & > .item_slash {
      display: none;
    }

  }

}