extends _layout

block content
  main.wrap
    .d-flex.flex-wrap
      .item.item-1
        h2(data-text="LINEN BLAZER") LINEN BLAZER
        h3 Men's outfit
        small 01
        .item_pic
          img(src="https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1acdd78f34ee75aade9e313251bb1695&auto=format&fit=crop&w=1534&q=80")
        .item_block
        .item_border
        .item_slash
      .item.item-2
        h2(data-text="FREELIFT") FREELIFT
        h3 Men’s basics
        small 02
        .item_pic
          img(src="https://images.unsplash.com/photo-1514632542677-48fae74a01b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf412aceb1d689765e387d30fca7210a&auto=format&fit=crop&w=2734&q=80")
        .item_block
        .item_border
        .item_slash
      .item.item-3
        h2(data-text="SUPER SKINNY") SUPER SKINNY
        h3 Men’s pattern shirts
        small 03
        .item_pic
          img(src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0f994eef47e5fb1a67849703cc961b3&auto=format&fit=crop&w=2850&q=80")
        .item_block
        .item_border
        .item_slash
      .item.item-4
        h2(data-text="DENIM") DENIM
        h3 Men’s cadual
        small 04
        .item_pic
          img(src="https://images.unsplash.com/photo-1484516758160-69878111a911?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39466d66952b133d5a5cff642b970d05&auto=format&fit=crop&w=2787&q=80")
        .item_block
        .item_border
        .item_slash
      .item.item-5
        h2(data-text="SWEATSHIRTS") SWEATSHIRTS
        h3 Men’s jacket
        small 05
        .item_pic
          img(src="https://images.unsplash.com/photo-1525448198276-222de3961638?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43fb25556cdbd191e520c7f28739e40d&auto=format&fit=crop&w=2850&q=80")
        .item_block
        .item_border
        .item_slash
      .item.item-6
        h2(data-text="VINTAGE DENIM") VINTAGE DENIM
        h3 Men’s classic
        small 06
        .item_pic
          img(src="https://images.unsplash.com/photo-1519406709381-c1f293304b28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c497a29f229085d9574ee8b6eeef8c&auto=format&fit=crop&w=2734&q=80")
        .item_block
        .item_border
        .item_slash
      .item.item-7
        h2(data-text="EDITION") EDITION
        h3 Men’s shirts
        small 07
        .item_pic
          img(src="https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63ff45d79414b3166b08b800a32018be&auto=format&fit=crop&w=2732&q=80")
        .item_block
        .item_border
        .item_slash

